/* Coolors Exported Palette - coolors.co/b8d8d8-7a9e9f-4f6367-eef5db-fe5f55 */

/* HSL */
$color1: hsla(180%, 29%, 78%, 1);
$color2: hsla(182%, 16%, 55%, 1);
$color3: hsla(190%, 13%, 36%, 1);
$color4: hsla(76%, 57%, 91%, 1);
$color5: hsla(4%, 99%, 66%, 1);

/* RGB */
$color1: rgba(184, 216, 216, 1);
$color2: rgba(122, 158, 159, 1);
$color3: rgba(79, 99, 103, 1);
$color4: rgba(238, 245, 219, 1);
$color5: rgba(254, 95, 85, 1);